<h1>Termos de Uso</h1>
<div class="terms-container">
  <h2>Bem-vindo à Laranjinha Store!</h2>
  <p>
    Para garantir uma experiência segura e transparente, é essencial que você leia e aceite os nossos Termos de Uso.
    Eles foram elaborados para proteger seus direitos e esclarecer as condições de uso dos nossos serviços.
  </p>
  <p>
    Ao aceitar os Termos, você estará concordando com as nossas políticas e se comprometendo a utilizá-los de forma responsável.
    Isso nos ajuda a oferecer um ambiente confiável e agradável para todos os nossos clientes.
  </p>
  <p>
    Agradecemos pela sua confiança e desejamos ótimas compras na Laranjinha Store!
  </p>
</div>
<p>Leia e aceite os termos para continuar.</p>
<button (click)="acceptTerms()">Aceitar</button>
<p>terms works!</p>
