<main class="login-content">
  <h2>Acesse a Laranjinha Store</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
    <div class="input-container">
      <app-email-input [(email)]="email"></app-email-input>
      <app-password-input [(password)]="password"></app-password-input>
    </div>

    <div class="buttons-container">
      <button class="button button-secondary" (click)="navigateTo('notice')">Mais tarde</button>
      <button class="button button-primary" type="submit" [disabled]="!isFormValid">entrar</button>
    </div>
  </form>
</main>
<div class="login-links">
  <a href="/forgot-password">esqueci a minha senha</a>
  <a href="/register">ainda não tem uma conta? cadastre-se</a>
</div>