@use '../../../styles' as *;

.login-content {
    text-align: center;
}

.login-links {
    text-align: center;
    margin-top: 15px;
}

.login-links a {
    display: block;
    color: #007bff;
    text-decoration: none;
    margin: 5px 0;
}

.login-links a:hover {
    text-decoration: underline;
}

.error-message {
    font-size: 14px; /* Reduzi o tamanho da fonte para os avisos */
}
